.baner {
    position: relative;
}

.baner .circles {
    position: absolute;
    width: 156px;
    height: 150px;
    right: 80px;
    bottom: 110px;
}

.baner .circles-green {
    width: 143px;
    height: 143px;
    border-radius: 50%;
    background-color: #c8c10d;
    position: absolute;
    top: 10px;
}

.baner .circles a {
    display: block;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    background-color: rgba(202, 13, 111, 0.8);
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 10px;
}

.baner .circles a span {
    position: relative;
    left: 22px;
    top: 49px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}