.menubox {
    background-color: rgb(200, 193, 13);
    height: 160px;
}

.menubox nav {
    padding-top: 20px;
    height: 140px;
}

.menubox nav ul li {
    float: left;
}

.menubox a {
    font-size: 20px;
    font-family: latoR;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 235px;
    text-align: center;
    display: inline-block;
    line-height: 25px;
}

.box {
    padding-top: 20px;
    height: 80px;
    padding: 0px 50px;
    text-align: center;
    display: inline-block;
    width: 22%;
    margin: 0 1%;
}