.menubox {
    background-color: rgb(200, 193, 13);
    padding: 50px 0;
}

.menubox nav {
    height: 160px;
}

.menubox nav ul li {
    float: left;
}

.menubox a {
    font-size: 20px;
    font-family: latoR;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    display: block;
}

.box {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 22%;
    margin: 0 1%;
}