@font-face {
    font-family: latoB ;
    src: url(../assets/fonts/Lato-Bold.woff) format('woff'),
    url(../fonts/Lato-Bold.woff2) format('woff2');
}

@font-face {
    font-family: Magra ;
    src: url(../assets/fonts/Magra-Bold.woff) format('woff'),
    url(../fonts/Magra-Bold.woff2) format('woff2');
}

@font-face {
    font-family: latoR ;
    src: url(../assets/fonts/Lato-Regular.woff) format('woff'),
    url(../fonts/Lato-Regular.woff2) format('woff2');
}

@font-face {
    font-family: RammettoOne ;
    src: url(../assets/fonts/RammettoOne-Regular.woff) format('woff'),
    url(../fonts/RammettoOne-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Roboto ;
    src: url(../assets/fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/RammettoOne-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Quicksand ;
    src: url(../assets/fonts/Quicksand-Bold.woff) format('woff'),
    url(../fonts/Quicksand-Bold.woff2) format('woff2');
}
